div {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: black;
	border-spacing: 0;
}

th {
	text-align: center;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: black;
	border-spacing: 0;
	background-color: lightgrey;
}

td {
	text-align: center;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: black;
	border-spacing: 0;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	text-align: left;
}

.bandMembersTable {
	border-width: 0 0 0 0;
}

.bandMembersCell {
	text-align: left;
	border-width: 0 0 0 0;
}

li {
	font-size: larger;
}

.tracksCell {
	font-size: smaller;
}