	a {
		text-decoration: underline;
	}
	
	a.hover {
		text-decoration: none;
	}
		
	warning {	
		font-weight: bold;
		color: red;
	}
		
		div.warning {
		font-style: italic;
	}

	img {	
		display:block;
       		margin-left: 	
       		auto; 
       		margin-right:auto;
       		
       	}
       			       	p {
				       		color: green;
      			 	}
