
<style>

	a {
		text-decoration: none;
	}
	
	a.hover {
		text.decoration.underline;
		}
		
	warning {
	
		font-weight: bold;
		color: red;
		}
		
		div.warning {
		font-style: italic
		}
		
		p {color: blue;}
</style>