@font-face {
	font-family: 'Permanent Marker';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMsW72xVeg1938eUHStY_AJ4.woff2);
}

* {
	font-family: sans-serif;
	text-align: center;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

h1.header {
	text-align: center;
	font-family: 'Permanent Marker';
}

.nav-pills > li {
    float:none;
    display:inline-block;
}

img.dinerImage {
	width:400px;
	height:150px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

table.description {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	border-spacing: 15px;
	margin: auto;
	width: 400px;
}

td.description {
	text-align: left;
}

.news {
	width: 400px;
}

.carousel-inner img {
  margin: auto;
}

.carousel-indicators li {
  background-color: #669966;
}
.carousel-indicators .active {
  background-color: #FF7600;
}

.menuItem {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	border-spacing: 15px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	width: 300px;
}

.menuItemName { 
	font-weight: bold;
	font-size: large;	
}

.menuItemBlurb {
	font-style: italic;
}

.menuItemPrice {
	font-weight: bold;
}

ul.beverages {
	list-style-type: none;
	padding-left: 0px;
}

li {
	text-align: left;
	padding: 3px;
}

table.beveragesList {
	margin-left: auto;
	margin-right: auto;
}

caption.beveragesHeader {
	text-align: center;
	text-decoration: underline;
	font-size: large;
	font-weight: bold;
	color: black;
}

table.form {
	margin: auto;
}

td {
	padding: 5px;
}

td.fieldName {
	text-align: right;
	vertical-align: text-top;
	font-weight: bold;
}

td.submit {
	text-align: right;
}

td.visited {
	text-align: left;
}

td.days {
	text-align: left;
}

td.join {
	text-align: left;
}

input[type="text"] {
	width: 100%;
	margin: 0px;
}

select {
	width: 100%;
	text-align: left;
}

option {
	text-align: left;
}

textarea {
	width: 100%;
}

caption {
	text-align: center;
}

.alert {
	font-weight: bold;
	color: red;
}
