* {
	font-family: sans-serif;
}

#gameBody {
	text-align: center;
	width: 250px;
	margin: auto;	
}

#bankrollField {
	width: 50px;
	font-size: smaller;	
}

#playButton {
	padding: 15px 30px 15px 30px;
	background-color: #c2c2a3;	
}

#resultsBody {
	visibility: hidden;
	text-align: center;	
	width: 250px;
	margin: auto;
	background-color: #ffffcc;	
	padding: 15px;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #000000;
	border-collapse: collapse;
}

#resultsPerRollBody {
	visibility: hidden;
	text-align: center;	
	width: 300px;
	margin: auto;
	background-color: #ffffcc;	
	padding: 15px;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #000000;
	border-collapse: collapse;
}

#statisticsBody {
	visibility: hidden;
	text-align: center;	
	width: 300px;
	margin: auto;
	background-color: #ffffcc;	
	padding: 15px;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #000000;
	border-collapse: collapse;
}

#resultsTable {
	margin: auto;
}

table.statisticsTable {
	margin: auto;
}

.resultsCaption {
	text-decoration: underline;
	text-align: center;
	margin-top: 0px;
	color: black;
	font-size: 200%;	
}

th.resultsHeaderFieldName {
	background-color: #c2c2a3;
	text-align: center;
	padding: 5px 5px 15px 5px;
	font-size: small;
	font-weight: bold;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;	
}

th.resultsHeaderData {
	background-color: #c2c2a3;
	text-align: center;
	padding: 5px 5px 15px 5px;	
	font-size: small;	
	font-weight: bold;	
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;	
}

td.resultsDataFieldNames {
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #f2f2f2;
	border-collapse: collapse;
	text-align: left;
	padding: 5px 5px 15px 5px;		
	font-size: small;	
}

td.resultsData {
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #f2f2f2;
	border-collapse: collapse;
	text-align: center;
	padding: 5px 5px 15px 5px;		
	font-size: small;
}

table.resultsPerRollTable {
		margin: auto;
}

span.gameSetup {
	display: block;
	margin-bottom: 15px;
}

span.gameSetupHeading {
	font-size: 200%;
}

span.smallPrint {
	font-size: x-small;
}

#bankrollAlert {
	font-weight: bold;
	color: red;
}