body {
	margin-left: 0;
}

div {
	text-align: center;
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/exo/v4/kA_pX0U45Eb7PbHijV1x2w.woff2);
}

.album {
	background-position: center;
	background-image: url("images/kraftwerk.jpg");
	width: 400px;
	height: 392px;
	margin-left: auto;
	margin-right: auto;
}

.albumTitle {
	font-family: 'Exo';
	text-align: center;
	font-style: normal;	
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: yellow;
}

a:active {
	text-decoration: none;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: black;
	border-spacing: 0;
}

th {
	text-align: center;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: black;
	border-spacing: 0;
	background-color: lightgrey;
}

td {
	text-align: center;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: black;
	border-spacing: 0;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	text-align: left;
}

.bandMembersTable {
	border-width: 0 0 0 0;
}

li {
	font-size: larger;
}

.tracksCell {
	font-size: smaller;
	font-style: italic;
	background-color: yellow;
}

.tracksTable {
	width: 90%;
}

.bandMembersCell {
	text-align: left;
	border-width: 0 0 0 0;
	font-family: 'Exo';
}

.bandMembersName {

	font-style: italic;
}

