/* style.css */

.jumbotron {
  background-color: #000;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  padding: 25px;
  text-align: center;
  color: #fff;
} 

h1 {
  font-family: 'Cherry Cream Soda', cursive;
  text-shadow: 2px 2px #e60000;
  text-align: center;
  text-transform: uppercase;
}

.btn-primary {
  background-color: red;
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 26px;
  font-weight: bold;
}

.btn-lg {
   margin: 5px;
   padding: 10px 100px;
 }
 
input { 
   text-align: center;
}

.table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
}

.leftCol {
  text-align: left;
}