* {
	font-family: "Comic Sans MS", sans-serif;
	text-align: center;
}

table.menu {
	margin: auto;
	border-spacing: 15px;
	background-color: lightgrey;
}


td.menuItem {
	font-size: x-large;
}

td.itemDescription {
	padding: 0px 35px 0px 35px;
}