

hr {
	margin: 0px;
}

@font-face {
	font-family: 'Permanent Marker';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMsW72xVeg1938eUHStY_AJ4.woff2);
}

* {
	font-family: "Comic Sans MS", sans-serif;
	text-align: center;

}

body {
	margin-left: 0;
	margin-right: 0;
}

h1.header {
	text-align: center;
	font-family: 'Permanent Marker';
}

table.header {
	border-spacing: 15px;
}

div.header {
	padding: 0px;
}

div.homePage {
	background-color: grey;
	padding: 15px;
}

img.dinerImage {

	width:400px;
	height:150px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

table.description {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	margin: auto;
	width: 400px;
}

td.description {
	text-align: left;
	background-color: white;

}