* {
	font-family: "Comic Sans MS", sans-serif;
	text-align: center;

}

body {
	margin-left: 0;
	margin-right: 0;
}

table.form {
	margin: 0 auto;
	padding: 15px;
	background-color: lightgrey;
}

td.menuItem {
	font-size: large;
}

td.itemDescription {
	padding: 0px 35px 0px 35px;
}

td.fieldName {
	text-align: right;
	vertical-align: text-top;
	font-weight: bold;
}

td.submit {
	text-align: right;
}

td.visited {
	text-align: left;
}

td.days {
	text-align: left;

}

input[type="text"] {
	width: 100%;
	margin: 0px;
}

select {
	width: 100%;
	text-align: left;
}

option {
	text-align: left;
}

textarea {
	width: 100%;
}