@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/exo/v4/kA_pX0U45Eb7PbHijV1x2w.woff2);
}

.albumTitle {
	font-family: 'Exo';
	text-align: center;
	font-style: normal;	
}

.albumDetails {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

.divider {
	border-top: 1px solid black;
}

.bandMembersTable {
	border-width: 0 0 0 0;
	margin-left: auto;
	margin-right: auto;
}

.bandMembersCell {
	text-align: left;
	font-family: 'Exo';
}

.bandMembersName {
	font-style: italic;
}

li {
	font-size: larger;
}

.table {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.table caption {
	text-align: center;
}

/* marking border as !important here to override Bootstrap CSS */
.table td, 
.table th {
	border: 1px solid black !important;
}

thead.tracks th {
	text-align: center;
	background-color: yellow;
}

tbody.tracks td {
	text-align: center;
	font-size: small;
	font-style: italic;
}

tbody.tracks tr:nth-child(even) {
	background-color: yellow;
}

tbody.tracks tr:nth-child(odd) {
	background-color: lightgreen;
}

tbody.tracks tr:hover {
  background-color: #ffccff;
}